@using BlazorYuar.Data
@page "/hello"

<h1>Выберите список</h1>
<button class="btn btn-primary" @onclick="stud">Cписок студентов</button>
@if (studlist == null)
{
    <p><em>Loading...</em></p>
}
else if (gamelist == null && carlist == null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Возраст</th>
                <th>Курс</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var stud in studlist)
            {
                <tr>
                    <td>@stud.Sur</td>
                    <td>@stud.Name</td>
                    <td>@stud.Year</td>
                    <td>@stud.Kurs</td>
                </tr>
            }
        </tbody>
    </table>  
}

<button class="btn btn-primary" @onclick="carad">Cписок машин</button>
@if (carlist == null)
{
    <p><em>Loading...</em></p>
}
else if (gamelist == null && studlist == null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Марка</th>
                <th>Дата выпуска</th>
                <th>Страна</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carad in carlist)
            {
                <tr>
                    <td>@carad.Name</td>
                    <td>@carad.Brand</td>
                    <td>@carad.YeaarRelease</td>
                    <td>@carad.Country</td>
                </tr>
            }
        </tbody>
    </table>
}

    <button class="btn btn-primary" @onclick="gem">Cписок игр</button>
    @if (gamelist == null)
    {
        <p><em>Loading...</em></p>
    }
    else if (carlist == null && carlist == null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Год выпуска</th>
                    <th>Категория</th>
                    <th>Страна</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var gem in gamelist)
                {
                    <tr>
                        <td>@gem.Name</td>
                        <td>@gem.Year</td>
                        <td>@gem.Category</td>
                        <td>@gem.Country</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @code {
        public static List<Student> studlist;
        public static List<Car> carlist;
        public static List<Game> gamelist;
        private void stud()
        {
            studlist = Student.AddSt();
            carlist = null;
            gamelist = null;

        }

        private void carad()
        {
            carlist = Car.AddCar();
            studlist = null;
            gamelist = null;
        }
        private void gem()
        {
            gamelist = Game.AddGem();
            studlist = null;
            carlist = null;
        }
}
